ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 5px 0;
  transition: 0.2s;
}

li i {
  margin-right: 10px;
}

li a:hover i,
li a:active i,
li a:focus i {
  color: #7abcac;
  transition: 0.2s;
}
